{% extends 'layout.html' %}

{% block body %}

<div class="container" style="margin-top: 3%;">

      
        <div class="card text-primary border-primary" style="max-width: 20rem;">
        
            <div class="card-body">
                <h4 class="card-title">Sun Gone</h4>
                <p class="card-text">Here are the top resources for all things related to the Sun.</p>
                <!-- Links -->
                <a href="#" class="card-link">Sun Gone</a>
                <a href="#" class="card-link">Still Gone</a>
            </div>
        
        </div>
        
        
        <div class="card mb-12">
            <div class="card-header">
                <h4>Reserva Aula: Nueva Reserva</h4>
                
            </div>
            <div class="card-body">
                <h5 class="card-title">Nueva Reserva</h5>
                <p class="card-text">
                        <form class="form-horizontal" role="form" action="" method="POST">

                                <div class="form-group row">
                                    <label for="fecha" class="col-sm-1 col-form-label">Fecha:</label>
                                    <div class="col-sm-2">
                                        <input type="text" class="form-control" name="fecha" id="fecha" placeholder="fecha">
                                    </div>
                                    <label for="horario" class="col-sm-1 col-form-label">Horario:</label>
                                    <div class="col-sm-3">
                                        <select class="custom-select custom-select-sm">
                                            <option selected>Open this select menu</option>
                                            <option value="1">One</option>
                                            <option value="2">Two</option>
                                            <option value="3">Three</option>
                                        </select>
                                    
                                    </div>
                                    <label for="aula" class="col-sm-1 col-form-label">Aula:</label>
                                    <div class="col-sm-3">
                                        <input type="text" class="form-control" name="aula" id="aula" placeholder="Aula">
                                    </div>
                                </div>
                            </form>
                
                </p>
            </div>
            <div class="card-footer">
               
            </div>
        </div>


        <div class="card mb-12 border">
                <div class="card-header border  text-primary">
                    <h4>Reserva Aula: Nueva Reserva</h4>
                    
                </div>
                <div class="card-body border-primary">
                    <h5 class="card-title">Datos Reserva</h5>
                    <div class="card-text border-primary">
                        

                            <form class="form-horizontal" role="form" action="" method="POST">

                                    <div class="form-group row">
                                        <label for="fecha" class="col-sm-1 col-form-label">Fecha:</label>
                                        <div class="col-sm-2">
                                            <input type="text" class="form-control" name="fecha" id="fecha" placeholder="fecha">
                                        </div>
                                        <label for="horario" class="col-sm-1 col-form-label">Horario:</label>
                                        <div class="col-sm-3">
                                            <select class="custom-select custom-select-sm">
                                                <option selected>Open this select menu</option>
                                                <option value="1">One</option>
                                                <option value="2">Two</option>
                                                <option value="3">Three</option>
                                            </select>
                                        
                                        </div>
                                        <label for="aula" class="col-sm-1 col-form-label">Aula:</label>
                                        <div class="col-sm-3">
                                            <input type="text" class="form-control" name="aula" id="aula" placeholder="Aula">
                                        </div>
                                    </div>
                                </form>


                    </div>
                </div>
                <div class="card-footer border-primary">
                    By Uuuuggghhh.com
                </div>
            </div>


        <div class="card" style="width: 18rem;">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="card-link">Card link</a>
                  <a href="#" class="card-link">Another link</a>
                </div>
              </div>



        <div class="card border-success mb-12" >
            <div class="card-header bg-transparent border-success text-success"> <h4>Header</h4> </div>
            <div class="card-body text-success">
                <h5 class="card-title"> Success card title </h5>
                <p class="card-text"> Some quick example text to build on the card title and make up the bulk of the card's
                    content. </p>
            </div>
            <div class="card-footer bg-transparent border-success"> Footer </div>
        </div>




        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Panel title</h5>
                <h6 class="card-subtitle mb-2 text-muted">Panel subtitle</h6>
                <p class="card-text">Some quick example text to build on the panel title and make up the bulk of the panel's
                    content.</p>
                    <form class="form-horizontal" role="form" action="" method="POST">

                            <div class="form-group row">
                                <label for="fecha" class="col-sm-1 col-form-label">Fecha:</label>
                                <div class="col-sm-2">
                                    <input type="text" class="form-control" name="fecha" id="fecha" placeholder="fecha">
                                </div>
                                <label for="horario" class="col-sm-1 col-form-label">Horario:</label>
                                <div class="col-sm-3">
                                    <select class="custom-select custom-select-sm">
                                        <option selected>Open this select menu</option>
                                        <option value="1">One</option>
                                        <option value="2">Two</option>
                                        <option value="3">Three</option>
                                    </select>
                                
                                </div>
                                <label for="aula" class="col-sm-1 col-form-label">Aula:</label>
                                <div class="col-sm-3">
                                    <input type="text" class="form-control" name="aula" id="aula" placeholder="Aula">
                                </div>
                            </div>
                        </form>
            </div>
        </div>


    <div class="col-md-12">
        <div class="panel panel-primary">
            <div class="panel-heading">Datos Reserva</div>
            <div class="panel-body">

                <form class="form-horizontal" role="form" action="" method="POST">

                    <div class="form-group row">
                        <label for="fecha" class="col-sm-1 col-form-label">Fecha:</label>
                        <div class="col-sm-2">
                            <input type="text" class="form-control" name="fecha" id="fecha" placeholder="fecha">
                        </div>
                        <label for="horario" class="col-sm-1 col-form-label">Horario:</label>
                        <div class="col-sm-3">
                            <select class="custom-select custom-select-sm">
                                <option selected>Open this select menu</option>
                                <option value="1">One</option>
                                <option value="2">Two</option>
                                <option value="3">Three</option>
                            </select>
                        
                        </div>
                        <label for="aula" class="col-sm-1 col-form-label">Aula:</label>
                        <div class="col-sm-3">
                            <input type="text" class="form-control" name="aula" id="aula" placeholder="Aula">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}